    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>EasyLinker</title>
        <meta name="description" content="EasyLinker"/>
        <meta name="keywords" content="EasyLinker"/>
        <meta name="author" content="EasyLinker"/>
        <link rel="icon" type="image/png" href="new_index/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="stylesheet" href="new_index/css/bootstrap.css"/>
        <link rel="stylesheet" href="new_index/fonts/font-awesome-4.3.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="new_index/css/all.css"/>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    </head>
    <style>
        ul pre{
            background-color: #1f2224;
            color: #FFFFFF;
            margin: auto;
            padding: auto
        }
    </style>
    <body>
    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div class="logo"><a href="#"><img src="/new_index/images/logo.png" alt="Sports" width="70px"/></a></div>
                <nav id="nav">
                    <div class="opener-holder">
                        <a href="#" class="nav-opener"><span></span></a>
                    </div>

                    <div class="nav-drop">
                        <ul>
                            <li class="active visible-sm visible-xs"><a href="#">Home</a></li>
                            <li><a href="/">首页</a></li>
                            <li><a href="/document">文档</a></li>
                            <li><a href="/loginPage">登录</a></li>
                            <li><a href="/signupPage">注册</a></li>
                        </ul>
                        <div class="drop-holder visible-sm visible-xs">
                            <span>Follow Us</span>
                            <ul class="social-networks">
                                <li><a class="fa fa-github" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-facebook" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="visual">
            <div class="container">
                <div class="text-block">
                    <div class="heading-holder">
                        <h1>EasyLinker</h1>
                    </div>
                    <p class="tagline">使用文档</p>

                </div>
            </div>
            <img src="new_index/images/img-bg-01.jpg" alt="" class="bg-stretch"/>
        </section>
        <section class="main">
            <div class="container">
                <div id="cta">
                    <a href="javascript:" class="btn btn-primary rounded">开始了解</a>
                </div>
                <div class="row">
                    <div class="text-box col-md-offset-1 col-md-10">
                        <ul style="margin: auto;padding-left: 8px;padding-right:8px;background-color: #2f3638;color: #FFFFFF;text-align: left;width: 100%">
                            <li>Python 客户端接入</li>

                            <pre style="background-color: #1f2224;color: #FFFFFF;margin: auto;padding: auto">
                                <code class="python">
    # -*- coding: utf-8 -*-

    import threading
    import paho.mqtt.client as mqtt

    SERVER_HOST = "47.94.173.41"
    SERVER_PORT = 1883


    class EasyLinkerApp(threading.Thread):
        def on_connect(self, client, userdata, flags, rc):
            print('Device  [%s]  Connected Success!' % self.device_id)
            client.subscribe("device/" + self.device_id)


        def disconnect(self):

            self.mqtt_client.disconnect()
            print('Device  [%s]  Disconnected!' % self.device_id)

        def run(self):
            try:
                # 请根据实际情况改变MQTT代理服务器的IP地址
                self.mqtt_client.connect(SERVER_HOST, SERVER_PORT, 60)
                self.mqtt_client.loop_forever()
            except Exception:
                self.disconnect()

        def __init__(self, device_id, on_message):
            self.device_id = device_id
            self.server_host = SERVER_HOST
            self.server_port = SERVER_PORT
            self.mqtt_client = mqtt.Client()
            self.mqtt_client.on_connect = self.on_connect
            self.mqtt_client.on_message = on_message
            self.mqtt_client.on_disconnect=self.disconnect
            self.mqtt_client.username_pw_set(device_id)
            self.dev_mode = False

        def publish(self, message):
            self.mqtt_client.publish(self.device_id, message)


    # 消息推送回调函数
    def on_message(client, userdata, msg):
        print("receiveed message:" + str(msg.payload))


    app = EasyLinkerApp("e3656586-f7e3-4ad1-9b77-3a8c68f25e39", on_message)
    app.run()
    app.publish("hello")
                                </code>
                            </pre>
                            <li>Ardiuno客户端接入</li>
                            <pre>
                                <code>

                                </code>
                            </pre>
                            <li>Java客户端接入</li>
                            <pre>
                                <code>

                                </code>
                            </pre>
                            <li>C++客户端接入</li>
                            <pre>
                                <code>

                                </code>
                            </pre>

                        </ul>

                    </div>
                </div>
            </div>
        </section>


        <footer id="footer" style="background-color:black;">
            <div class="container">
                <div class="footer-holder">
                    <div class="row  text-center">
                        <div class="col-md-12">
                            <a href="#"><img src="new_index/images/logo.png" alt="Sports HTML Template"/></a>
                        </div>

                    </div>
                    <div class="row">
                        <div id="cta" class="cta-footer">
                            <a href="javascript:" class="btn btn-primary rounded">关注开源</a>
                            <p>积极参加开源，为项目贡献力量，让更多人学习项目。</p>
                            <a href="https://github.com/wwhai/easylinker ">https://github.com/wwhai/easylinker</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>关于我们</h3>


                            <p>	@EasyLinker Team</p>
                            <p>	Email:751957846@qq.com</p>
                            <p>	QQ群:475512169</p>

                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="new_index/js/jquery-1.11.2.min.js"></script>
    <script src="new_index/js/bootstrap.js"></script>
    <script src="new_index/js/jquery.main.js"></script>
    </body>
    </html>