<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EasyLinker</title>
    <meta name="description" content="EasyLinker"/>
    <meta name="keywords" content="EasyLinker"/>
    <meta name="author" content="EasyLinker"/>
    <link rel="icon" type="image/png" href="new_index/favicons/favicon-16x16.png" sizes="16x16"/>
    <link rel="stylesheet" href="new_index/css/bootstrap.css"/>
    <link rel="stylesheet" href="new_index/fonts/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="new_index/css/all.css"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div class="container">
            <div class="logo"><a href="#"><img src="/new_index/images/logo.png" alt="Sports" width="70px"/></a></div>
            <nav id="nav">
                <div class="opener-holder">
                    <a href="#" class="nav-opener"><span></span></a>
                </div>

                <div class="nav-drop">
                    <ul>
                        <li class="active visible-sm visible-xs"><a href="#">Home</a></li>
                        <li><a href="/">首页</a></li>
                        <li><a href="/document">文档</a></li>
                        <li><a href="/loginPage">登录</a></li>
                        <li><a href="/signupPage">注册</a></li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <section class="visual">
        <div class="container">
            <div class="text-block">
                <div class="heading-holder" >
                    <h1>EasyLinker</h1>
                </div>
                <p class="tagline">让你的硬件设备快速接入互联网！</p>
            </div>
        </div>
        <img src="new_index/images/img-bg-01.jpg" alt="" class="bg-stretch"/>
    </section>
    <section class="main">
        <div class="container">
            <div id="cta">
                <a href="javascript:" class="btn btn-primary rounded">开始了解</a>
                <p>让硬件玩家乐此不疲的平台.</p>
            </div>
            <div class="row">
                <div class="text-box col-md-offset-1 col-md-10">
                    <h2>About EasyLinker</h2>
                    <p>给硬件提供一个通用的联网解决方案，让你的硬件模块方便快捷的接入到互联网.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul class="visual-list">
                        <li>
                            <div class="img-holder">
                                <img src="new_index/images/graph-04.svg" width="110" alt=""/>
                            </div>
                            <div class="text-holder">
                                <h3>DIY一个智能装备系统</h3>
                                <p>你可以用你的树莓派，通过平台接入到网络中，自己DIY一套智能运动装备，让你的旅行更加充满个性. </p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img class="pull-left" src="new_index/images/graph-03.svg" width="90" alt=""/>
                            </div>
                            <div class="text-holder">
                                <h3>设计一个智能家居控制中心</h3>
                                <p>如果你有一块Ardiuno？那太好了，你可以用它接入平台，做一个智能家居控制中心，让你的生活充满逼格. </p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="new_index/images/graph-02.svg" height="84" alt=""/>
                            </div>
                            <div class="text-holder">
                                <h3>打造一个智能媒体中心</h3>
                                <p>你是不是回家觉得累？想听音乐却又懒得去开音响？那就打起精神来吧，用你的设备DIY一个智能媒体中心,打开微信对音响说：播放薛之谦的《刚刚好》吧. </p>
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="new_index/images/graph-01.svg" height="71" alt=""/>
                            </div>
                            <div class="text-holder">
                                <h3>更多玩法等你来设计</h3>
                                <p>你可以做一个家庭安防系统，让家里的实时状况随时可见；你可以设计一个机器人，陪你一起玩耍，甚至可以设计一个无人机，帮忙拍摄美丽景色然后发布微博。。。。还有很多玩法，就等你来实现. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <div class="slide-holder">
                        <div class="img-slide scroll-trigger"><img src="new_index/images/logo-01.png" width="600" alt=""/></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copyrights">Collect from <a href="http://www.easylinker.xyz/" >EasyLinker</a></div>
    <section class="visual-container">
        <div class="visual-area">
            <div class="container">
                <h2>适用平台</h2>
                <ul class="testimonials">
                    <li>
                        <div class="img-holder"><a href="#"><img src="new_index/images/ardiuno.png" height="84" width="124" alt=""/></a></div>
                        <p><em>ardiuno</em></p>
                    </li>
                    <li>
                        <div class="img-holder"><a href="#"><img src="new_index/images/arm.jpg" height="90" width="148" alt=""/></a></div>
                        <p><em>ARM</em></p>
                    </li>
                    <li>
                        <div class="img-holder"><a href="#"><img src="new_index/images/raspberrypi.gif" height="100" width="100" alt=""/></a></div>
                        <p><em>树莓派 </em></p>
                    </li>

                    <li>
                        <div class="img-holder"><a href="#"><img src="new_index/images/stm.png" height="50" width="108" alt=""/></a></div>
                        <p><em>STMXX芯片</em></p>
                    </li>
                </ul>
            </div>
        </div>
    </section>



    <section class="area">
        <div class="container">
            <div class="subscribe">
                <h3>订阅我们的邮件</h3>
                <form class="form-inline">
                    <button type="submit" class="btn btn-primary rounded">订阅</button>
                    <div class="form-group">
                        <input type="email" class="form-control rounded" id="exampleInputEmail2" placeholder="Email..."/>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer id="footer" style="background-color:black;">
        <div class="container">
            <div class="footer-holder">
                <div class="row  text-center">
                    <div class="col-md-12">
                        <a href="#"><img src="new_index/images/logo.png" alt="Sports HTML Template"/></a>
                    </div>

                </div>
                <div class="row">
                    <div id="cta" class="cta-footer">
                        <a href="javascript:" class="btn btn-primary rounded">关注开源</a>
                        <p>积极参加开源，为项目贡献力量，让更多人学习项目。</p>
                        <a href="https://github.com/wwhai/easylinker ">https://github.com/wwhai/easylinker</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>关于我们</h3>


                        <p>	@EasyLinker Team</p>
                        <p>	Email:751957846@qq.com</p>
                        <p>	QQ群:475512169</p>

                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
<script src="new_index/js/jquery-1.11.2.min.js"></script>
<script src="new_index/js/bootstrap.js"></script>
<script src="new_index/js/jquery.main.js"></script>
</body>
</html>